<span class="span-52">
	<span class="span-51 height24 margin-left-1 margin-top-1 light_blue_bg drak_gray bold_font fontsize14">
		<span class="span-51 margin-left-1">
			<%=word_for :no_result%>
		</span>
		<span class="span-51 margin-left-2 margin-top-1 medium_gray bold_font fontsize14">
			<%=word_for :try_search_tips%>
		</span>
		<span class="span-48 margin-left-5 margin-top-1 medium_gray bold_font fontsize12">
			<ul>
				<li STYLE="list-style-type: disc"><%=word_for :spelled_correctly%></li>
				<li STYLE="list-style-type: disc"><%=word_for :different_words%></li>
				<li STYLE="list-style-type: disc"><%=word_for :general_words%></li>
			</ul>
		</span>
	</span>
	<span class="height01 span-51 margin-swap_line medium_gray_bg margin-left-1 margin-top-1">
	</span>
</span>
		