<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
	<head>
		<link rel="P3Pv1" href="/w3c/p3p.xml">
		<meta http-equiv="P3P" policyref="/w3c/p3p.xml"  content='CP="<%=COMPACT_POLICY%>"'>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="robots" content="index,follow" />
		<title>College Swap | Online Swap Meet | Buy, Sell, Barter, Trad</title>
		<meta name="keywords" content="college swap, swap meet, barter, trade, online auction" />
		<%= javascript_include_tag "jquery-1.5.min.js"%>
		<%=stylesheet_link_tag("reset.css")%>
		<%=stylesheet_link_tag("swap.css")%>
		<link rel="icon" type="image/vnd.microsoft.icon" href="../images/favicon.ico"/>
		<link rel="icon" type="image/png" href="../images/favicon.png" />
		<link rel="icon" type="image/gif" href="../images/favicon.png" />
		<script src="http://static.ak.fbcdn.net/connect/en_US/core.debug.js"></script>
	</head>

<body>
	<span class="span-70">
		<span class="span-70">
			<span class="span-20">
				<a href="/">
					<img src="../images/welcomelogo.png" alt=""  />
				</a>
			</span>
			<span class="span-50 margin-top-1">
				<span class="span-50 fontsize24 bold_font medium_green">
					Welcome to CollegeSwap!
				</span>
				<span class="span-50 fontsize14 bold_font whowish_green">
					With this application you will be able to swap (trade), buy, and sell products and services with others in your social media network and school.
				</span>
				<span class="span-50 height01 margin-top-2 margin-bottom-1 medium_gray_bg">
				</span>
				<span class="span-50 fontsize18 bold_font medium_dark_gray height24">
					How it Works
				</span>
				<span class="span-50 fontsize12 bold_font medium_gray">
					Enter your school’s name to get to the CollegeSwap for your school. Add products or services that you want and/or have to trade. Make and accept offers securely! Keep track of everything with your private inbox.
				</span>
				<span class="span-50 margin-top-1">
					<a href="/" class="facebook_button">
						Click Here To Enter & Start Swapping!
					</a>
				</span>
			</span>
		</span>
	</span>
</body>
</html>
<script language="javascript">

	 $(function() {

		
	 	FB.init({
		    appId  : '<%=APP_ID%>',
		    status : true, // check login status
		    cookie : true, // enable cookies to allow the server to access the session
		    xfbml  : false  // parse XFBML
		  });
		
	
		try {
			FB.Canvas.setAutoResize();
		} catch (e) {}
		

	});
</script>
