<%
	if $facebook.is_guest
%>
	<%=render :partial=>"/friend_poster/login",:locals=>{:error=>@error}%>
<%
	else

		friend_lists = []
		begin
			friend_lists = $facebook.query("SELECT flid,name FROM friendlist WHERE owner=me()")
%>
			<span class="span-98 clearfix">
				<%=render :partial=>"/order/instruction",:locals=>{:number=>1,:app_name=>"Friends Poster"}%>
				<span class="span-60 margin-left-10 clearfix">
					<span class="span-60">
						<span class="span-60 margin-top-2 font18 bold_font dark_gray whiteShadow clearfix">
							<%=word_for :choose_friend_list%>
						</span>
						<span class="span-60 height01 medium_gray_bg margin-top-1">
						</span>
						<span class="span-60 margin-top-1 font12 bold_font dark_gray clearfix">
							<%=word_for :connected_as, :name=>$facebook.name%>
						</span>
						<span class="span-60 margin-top-1 font12 bold_font medium_dark_gray clearfix">
							<span class="span-60 medium_dark_gray font12 bold_font margin-top-5px">
								<span class="span-60">
									<span class="option_photo ">
										<input type="checkbox" id="friend_list_checkbox_all" name="<%=rand()%>" value="All" checked onclick="recheck_friend_list_checkboxes(true);"> 
										<a href="http://www.facebook.com/profile.php?id=<%=$facebook.facebook_id%>&sk=friends&v=friends" target="_friend_all">All friends</a>
									</span>
								</span>
								<span class="span-60 margin-top-1">
									<%=word_for :customize%>
								</span>
								<span class="option_photo margin-top-1">
									<input type="checkbox" id="friend_list_checkbox_family" name="<%=rand()%>" value="Family" onclick="recheck_friend_list_checkboxes(false);"> 
									<a href="http://www.facebook.com/profile.php?id=<%=$facebook.facebook_id%>&sk=friends&v=friends" target="_friend_all">Family</a>
								</span>
								<%
									friend_lists.each do |list|
										#members_in_list = $facebook.query("SELECT uid FROM friendlist_member WHERE flid='#{list['flid']}'");
		
										list['name'] = "<i>Unnamed</i>" if list['name'].strip == ""
		
										#members = $facebook.query("SELECT name FROM user WHERE uid IN (SELECT uid FROM friendlist_member WHERE flid='#{list['flid']}')")
								%>
									<span class="option_photo margin-top-1">
										<input type="checkbox" id="friend_list_checkbox_<%=list['flid']%>" name="<%=rand()%>" value="<%=list['flid']%>" onclick="recheck_friend_list_checkboxes(false);">
										<a href="http://www.facebook.com/profile.php?id=<%=$facebook.facebook_id%>&sk=friends&v=friends&lfilter=fl_<%=list['flid']%>" target="_friend_<%=list['flid']%>"><%=list['name']%></a>
									</span>
								<%
									end
								%>
								
							</span>
						</span>
					</span>
					<span class="span-60 margin-top-2 margin-bottom-2">
		                <a href="#" class="gray_button30px" id="order_submit_button" onclick="submit_order();return false;">
		                    <%= word_for :next%>
		                </a>
						
		            </span>
					<div style="height:0px;clear:left;">&nbsp;</div>
				</span>
			</span>
			
			 <script language="javascript">
			 	
				function recheck_friend_list_checkboxes(check_all_friends)
				{
					var checkboxes = $('input[id^=friend_list_checkbox_]');
					
					for (var i=0;i<checkboxes.length;i++)
					{
						if (checkboxes[i].id == "friend_list_checkbox_all")
						{
							checkboxes[i].checked = checkboxes[i].checked & check_all_friends;
						}
						else
						{
							checkboxes[i].checked = checkboxes[i].checked & !check_all_friends;
						}
					}
				}
				
		        function submit_order()
		        {
					$('#order_submit_button').ruby_box(false);
		            try {
		                
						var checkboxes = $('input[id^=friend_list_checkbox_]');
						
						var flids = [];
						for (var i=0;i<checkboxes.length;i++)
						{
							if (checkboxes[i].checked == true)
							{
								flids.push(checkboxes[i].value);
							}
						}
						
						if (flids.length == 0) {
							$('#order_submit_button').ruby_box(true,"Please select at least one friend list.");
							return
						}
						
						$('#order_submit_button').loading_button(true);
		
		                $.ajax({
		                    type: "POST",
		                    url: '/friend_poster/create',
		                    cache: false,
		                    data: {
		                        authenticity_token: "<%=form_authenticity_token%>",
								app_id:"<%=params[:app_id]%>",
								friend_list_ids:flids.join(",")
		                    },
		                    success: function(data){
		                        try {
		                            if (data.ok == true) {
		                                try
		                                {
		                                    top.location.href = data.redirect_url;
		
		                                } catch(e) {
		                                    
		                                }
		                            }
		                            else {
		                                $('#order_submit_button').loading_button(false);
		                                $('#order_submit_button').ruby_box(true,data.error_message);
		                            }
		
		                        }
		                        catch (e) {
		                            $('#order_submit_button').loading_button(false);
		                            $.error_log('submit_order', e);
		                            alert(e);
		                        }
		
		                    },
		                    error: function(req, status, e){
		                        $('#order_submit_button').loading_button(false);
		                         if (req.status == 0) return;
		                        alert('Cannot connect to the server. Please try again later.');
		                    }
		                });
		            } catch (e)
		            {
		                $('#order_submit_button').loading_button(false);
		                $.error_log('submit_order',e);
		                alert(e);
		            }
		        }
		    </script>
<%
		rescue Exception=>e
%>
			<%=render :partial=>"/friend_poster/login",:locals=>{:error=>true}%>
<%
		end
%>

<%end%>
