<%
	comment_url = "/comment/view/#{entity.comment_id}"
	comment_url = "/comment/view/#{@comment_data[entity.comment_id].parent_id}" if @comment_data[entity.comment_id].parent_id > 0
%>
<span class="span-30 margin-left-1 margin-top-1">
	<span class="span-5 height-5">
		<a href="<%=comment_url%>">
			<img src="<%=@figure_data[entity.figure_id].get_thumbnail_image_url%>" alt=""  />
		</a>
	</span>
	<span class="span-24 margin-left-5px bold_font" style="overflow:hidden;">
		<%
			if entity.is_anonymous
		%>
			<span class="span-24 font10 bold_font dark_gray" style="white-space:nowrap;overflow:hidden;">
				<%=@facebook_data[entity.facebook_id].anonymous_name%>
			</span>
		<%
			else
		%>
			<a href="/profile?user_id=<%=entity.facebook_id%>" class="span-24 font11 squeks_blue bold_font" style="white-space:nowrap;overflow:hidden;">
				<%=@facebook_data[entity.facebook_id].name%>
			</a>
		<%
			end
		%>	
		<span class="span-24 font10 normal_font dark_gray">
			<%
				if entity.data == CommentAgree::TYPE_AGREE
			%>
				<%=word_for :agree, :comment_data=>CGI.escapeHTML(truncate_bytes(@comment_data[entity.comment_id].comment,75))%>
			<%
				elsif entity.data == CommentAgree::TYPE_DISAGREE
			%>
				<%=word_for :disagree, :comment_data=>CGI.escapeHTML(truncate_bytes(@comment_data[entity.comment_id].comment,75))%>
			<%
				end
			%>
		</span>
		<a href="<%=comment_url%>" class="span-24 font11 huneysuckle_pink bold_font" style="white-space:nowrap;overflow:hidden;">
			<%=@figure_data[entity.figure_id].title%>
		</a>
	</span>
	<span class="span-24 margin-left-5px">
		<span class="comment_icon">
		</span>
		<span class="margin-left-5px font10 normal_font medium_gray">
			<%=semantic_time(entity.created_date)%>
		</span>
	</span>
</span>