<span class="top_bar">
</span>
<span class="span-98 clearfix">
	<span class="span-38 clearfix">
		<img src="../images/plugin/poster/poster.jpg" alt="Buy a Facebook friends poster!" title="Buy a Facebook friends poster!"/> 
	</span>
	<span class="span-60 clearfix">
		<span class="span-9 clearfix">
			<span class="facebook_icon">
			</span>
		</span>
		<span class="span-50 margin-left-1 clearfix">
			<span class="span-50 bold_font facebook_blue">
				<span class="span-50 font28 margin-left-4px">
					<%=word_for :facebook_topic%>
				</span>
				<span class="span-50" style="margin-top:5px;">
					<h1 class="font50"><%=word_for :friend_poster_topic%></h1>
				</span>
				<span class="span-50 font12 gray_74 margin-left-4px margin-top-1">
					<%=word_for :friend_poster_slogan%>
				</span>
			</span>
			<span class="span-50 font12 medium_dark_gray plugin_detail clearfix">
				<span class="span-49 margin-left-1 margin-top-1">
						&bull; <%=word_for :friend_poster_width%><br/>
						&bull; <%=word_for :friend_poster_height%><br/>
						&bull; <%=word_for :friend_poster_resolution%><br/>
				</span>
			</span>
			<span class="span-50 margin-top-1">
				<span class="float-left padding_horizontal_8px line_height30px height-3 friendmage_red_bg font18 bold_font white">
					<%=word_for :friend_poster_price%>
				</span>
				<a href="/friend_poster" class="gray_button30px">
					<%=word_for :friend_poster_order_button%>
				</a>
				
			</span>
			<span class="span-50 margin-top-2 light_blue_bg clearfix">
				<span class="span-49 margin-left-1">
					<span class="span-49 margin-top-1 margin-bottom-1">
						<span class="span-49 bold_font font30 happy_orange">
							<%=word_for :friend_poster_digital_copy_topic%>
						</span>
						<span class="span-49 margin-top-1">
							<span class="float-left padding_horizontal_8px line_height30px height-3 friendmage_red_bg font18 bold_font white">
								<%=word_for :friend_poster_digital_copy_price%>
							</span>
							<a href="/friend_poster/only_digital" class="gray_button30px">
								<%=word_for :friend_poster_digital_copy_order_button%>
							</a>
						</span>
					</span>
					<div style="height:0px;clear:left;">&nbsp;</div>
				</span>
			</span>
		</span>
	</span>
	<span class="split_line">
	</span>
</span>

<span class="span-98 clearfix margin-top-2">
	<span class="span-38 clearfix">
		<img src="../images/friend_calendar.jpg" width="340" style="margin-left:20px;"  alt="Buy a Facebook friends calendar!" title="Buy a Facebook friends calendar!" /> 
	</span>
	<span class="span-60 clearfix">
		<span class="span-9 clearfix">
			<span class="facebook_icon">
			</span>
		</span>
		<span class="span-50 margin-left-1 clearfix">
			<span class="span-50 bold_font facebook_blue">
				<span class="span-50 font28 margin-left-4px">
					<%=word_for :facebook_calendar_topic%>
				</span>
				<span class="span-50 font50" style="margin-top:5px;">
					<h1 class="font50"><%=word_for :friend_calendar_topic%></h1>
				</span>
				<span class="span-50 font12 gray_74 margin-left-4px margin-top-1">
					<%=word_for :friend_calendar_slogan%>
				</span>
			</span>
			<span class="span-50 font12 medium_dark_gray plugin_detail clearfix">
				<span class="span-49 margin-left-1 margin-top-1">
					&bull; <%=word_for :friend_calendar_width%><br/>
					&bull; <%=word_for :friend_calendar_height%><br/>
					&bull; <%=word_for :friend_calendar_resolution%><br/>
				</span>
			</span>
			<span class="span-50 margin-top-1">
				<span class="float-left padding_horizontal_8px line_height30px height-3 friendmage_red_bg font18 bold_font white">
					<%=word_for :friend_calendar_price%>
				</span>
				<a href="/birthday_calendar" class="gray_button30px">
					<%=word_for :birthday_calendar_order_button%>
				</a>
			</span>
			<span class="span-50 margin-top-2 light_blue_bg clearfix">
				<span class="span-49 margin-left-1">
					<span class="span-49 margin-top-1 margin-bottom-1">
						<span class="span-49 bold_font font30 happy_orange">
							<%=word_for :friend_calendar_digital_copy_topic%>
						</span>
						<!--<span class="span-49 font12 medium_dark_gray plugin_detail clearfix">
							<ul class="margin-left-1 margin-top-1">
								<li>
									&bull; กว้าง 61cm (24 inches)
								</li>
								<li>
									 &bull; Long Enough for All Your Friends!
								</li>
								<li>
									&bull; High-Resolution Digital Print
								</li>
								<li>
									&bull; Ordered in Only 3 Steps!
								</li>
							</ul>
						</span>-->
						<span class="span-49 margin-top-1">
							<span class="float-left padding_horizontal_8px line_height30px height-3 friendmage_red_bg font18 bold_font white">
								<%=word_for :friend_calendar_digital_copy_price%>
							</span>
							<a href="/birthday_calendar/only_digital" class="gray_button30px">
								<%=word_for :friend_calendar_digital_copy_order_button%>
							</a>
						</span>
					</span>
					<div style="height:0px;clear:left;">&nbsp;</div>
				</span>
			</span>
		</span>
	</span>
	<span class="buttom_bar">
	</span>
</span>
<span class="span-98 clearfix">
</span>