<span class="span-50 margin-top-1 margin-left-3 clearfix" >
	<span class="span-50 margin-left-1">
		<span class="span-50 clearfix ">
			<span class="float-left font12 dark_gray bold_font">
				<%= word_for :bank_name%>
			</span>
			<span class="float-left margin-left-1 font12 dark_blue bold_font">
				<%=bank.bank_name%>
			</span>
			<span class="float-left margin-left-1 font12 dark_gray bold_font">
				<%= word_for :bank_branch%>
			</span>
			<span class="float-left margin-left-1 font12 dark_blue bold_font">
				<%=bank.bank_branch%>
			</span>
		</span>
		<span class="span-50 clearfix">
			<span class="float-left font12 dark_gray bold_font">
				<%= word_for :bank_acc_name%>
			</span>
			<span class="float-left margin-left-1 font12 dark_blue bold_font">
				<%=bank.account_name%>
			</span>
		</span>
		<span class="span-50 clearfix">
			<span class="float-left font12 dark_gray bold_font">
				<%= word_for :bank_acc_number%>
			</span>
			<span class="float-left margin-left-1 font12 dark_blue bold_font">
				<%=bank.account_number%>
			</span>
		</span>
		<span class="span-50 clearfix">
			<span class="float-left font12 dark_gray bold_font">
				<%= word_for :bank_acc_type%>
			</span>
			<span class="float-left margin-left-1 font12 dark_blue bold_font">
				<%=bank.account_type%>
			</span>
		</span>
	</span>
</span>
<span class="span-35 height01  medium_gray_bg margin-top-1 margin-left-3">
</span>
