<span class="span-50 margin-top-1 clearfix" >
	<span class="span-50 margin-left-1">
		<span class="span-50 clearfix">
			<span class="friendmage_logo">
			</span>
			<span class="float-right" style="background-image:url(<%=order.signature_image_url%>);">
			</span>
		</span>
		<span class="span-50 height01 margin-top-5px light_medium_gray_bg clearfix">
		</span>
		<span class="span-50 margin-top-5px clearfix">
			<span class="span-50 font12 medium_dark_gray clearfix">
				<span class="span-50">
					<span class="span-6">
						<%= word_for :address%>
					</span>
					<span class="span-44 bold_font dark_gray">
						<%=order.recipient_name%><br />
						<%=order.address_identifier%> <%= word_for :address_street%> <%=order.address_street%>
						<br />
						<%= word_for :address_subdistrict%> <%=order.address_subdistrict%> 
						<%= word_for :address_district%> <%=order.address_district%>
						<br />
						<%= word_for :address_province%> <%=order.address_province%> 
						<%= word_for :address_postal_code%> <%=order.address_postal_code%> 
						<br />
					</span>
				</span>
			</span>
		</span>
	</span>
</span>
<span class="span-50 height01 medium_gray_bg margin-top-1">
</span>
