<span class="contentContainer">
	<span class="rowSplit">
		<span class="span-20">
			<span class="page_name">
				<h1>
      				<%=word_for(:forget_password)%><br>
					<em>
						<%=word_for(:choose_how_to_reset_password)%>
					</em>
				</h1>				
			</span>
		</span>
		<span class="span-79 margin-left-1">
			<span class="span-79 height-20">
				
				<span class="registerType">
					<span class="span-26 height-18">
						<span class="span-26 font30 normal_font dark_gray">
							<%=word_for(:facebook)%>
						</span>
						<span class="float-left margin-top-4 margin-left-1">
							<div id="fb-root"></div>
							<script src="http://connect.facebook.net/en_US/all.js">
							</script>
						  	<script>
							 FB.init({ 
								appId:'YOUR_APP_ID', cookie:true, 
								status:true, xfbml:true 
							 });
						  </script>
						  <fb:login-button>Login with Facebook</fb:login-button>
						</span>
					</span>
				</span>
				
				<span class="registerType margin-left-1">
					<span class="span-26 height-18">
						<span class="span-26 font30 normal_font dark_gray">
							<%=word_for(:email)%>
						</span>
						<span class="span-25 font12 normal_font medium_dark_gray align_left">
							&nbsp;
						</span>
						<span class="float-left margin-top-2">
							<input type="text" class="textbox_input span-25 margin-top-1" placeholder="<%=word_for_attr :email%>" value="" id="email">
							<a href="#" class="green_button margin-top-1" id="forget_password_form_button" onclick="submit_forget_password();return false;">
								<span class="font16">
									<%=word_for(:send_email)%>
								</span>
							</a>
							<span id="forget_password_error_panel" class="textbox_explane">
							
							</span>
						</span>
						
					</span>
				</span>
				
			</span>
			
			<span class="span-79 cutlineRow">
			</span>
			
			
		</span>
	</span>
</span>

<script language="javascript">

	var forget_password_validator = new validator("forget_password_error_panel");
	forget_password_validator.register_validation("email","email",null,"",
										[{
											f: validator_helper.presence,
											m: "<%=global_word_for('email','email_presence')%>"
										},null,
										{
											f:validator_helper.email,
											m: "<%=global_word_for('email','email_email')%>"
										}]);

	function submit_forget_password()
	{
		if (forget_password_validator.validate_all() == false) {
			return;
		}
		
		try {
			$('#forget_password_form_button').loading_button(true);
			
			$.ajax({
				type: "POST",
				url: '/member/forget_password',
				cache: false,
				data: {
					authenticity_token: "<%=form_authenticity_token%>",
					"email": $('#email').val()
					
				},
				success: function(data){
					try {
						if (data.ok == true) {
							alert('The email with instruction to recover your password has been sent to '+$('#email').val());
							$('#forget_password_form_button').loading_button(false);
						}
						else {
							$('#forget_password_form_button').loading_button(false);
							forget_password_validator.show_error(data.error_messages);
						}
					} 
					catch (e) {
						$('#forget_password_form_button').loading_button(false);
						$.error_log('forget_password', e);
						alert(e);
					}
					
				},
				error: function(req, status, e){
					$('#forget_password_form_button').loading_button(false);
					alert('Cannot connect to the server. Please try again later.');
				}
			});
		} catch (e)
		{
			$('#forget_password_form_button').loading_button(false);
			$.error_log('forget_password',e);
			alert(e);
		}
	}		
</script>	
