<span class="contentContainer">
	<span class="newtopic_form">
		<span class="span-78 font40 medium_dark_gray bold_font">
			<%=word_for(:recover_password)%>
		</span>
		<span class="form_unit">
			<span class="span-48">
				<input class="textbox_input span-46" placeholder="<%=word_for_attr :password%>" value="" type="password" id="password" >
			</span>
			<span class="textbox_explane" id="password_error_panel">
				<p class="tip">
					<%=word_for(:recover_password_tip)%>
				</p>
			</span>
		</span>
		<span class="span-79 cutlineRow">
		</span>
		<span class="form_unit">
			<span class="span-48">
				<span class="font26 green_button" id="recover_password_form_button" onclick="submit_recover_password();return false;">
					<%=word_for(:submit_recover_password)%>
				</span>
				
			</span>
			<span class="span-30">
				<span class="textbox_explane" id="recover_password_error_panel">
					
				</span>
			</span>	
		</span>					
	</span>
</span>

<script language="javascript">
	var recover_password_validator = new validator("recover_password_error_panel");
	recover_password_validator.register_validation("password","password","password_error_panel",
										"<%=word_for('password_ok');%>",
										[{
											f: validator_helper.presence,
											m: "<%=global_word_for('recover_password','password_presence')%>"
										},null,
										{
											f:validator_helper.min_length(4),
											m: "<%=global_word_for('recover_password','password_min_length')%>"
										}]);
										
	
										
	function submit_recover_password()
	{
		if (recover_password_validator.validate_all() == false) {
			return;
		}
		
		try {
			$('#recover_password_form_validator').loading_button(true);
			
			$.ajax({
				type: "POST",
				url: '/member/recover_password',
				cache: false,
				data: {
					authenticity_token: "<%=form_authenticity_token%>",
					"password": $('#password').val(),
					"email":"<%=params[:email]%>",
					"unique_key":"<%=params[:unique_key]%>"
					
				},
				success: function(data){
					try {
						if (data.ok == true) {
							alert('The new password is set.');
							top.location.href = "/home";
						}
						else {
							$('#recover_password_form_button').loading_button(false);
							recover_password_validator.show_error(data.error_message);
						}
					} 
					catch (e) {
						$('#recover_password_form_button').loading_button(false);
						$.error_log('recover_password', e);
						alert(e);
					}
					
				},
				error: function(req, status, e){
					$('#recover_password_form_button').loading_button(false);
					alert('Cannot connect to the server. Please try again later.');
				}
			});
		} catch (e)
		{
			$('#recover_password_form_button').loading_button(false);
			$.error_log('recover_password',e);
			alert(e);
		}
	}		
</script>	
	




