<span class="thumbnail-unit">
	<a href="<%=figure.get_url%>" class="picture" style="background-image:url(<%=figure.get_160x160_thumbnail_image_url%>);" title="<%=figure.title%>"></a>
	<a href="<%=figure.get_url%>" class="span-14 margin-top-5px font11 squeks_blue" style="overflow:hidden;">
		<%=figure.title%>
	</a>
	<span class="span-14 height20">
		<span class="squeks_coin_value">
		</span>
		<span class="font10 dark_gray light_font">
			<%=figure.value%>
		</span>
	</span>
</span>
