<script language="javascript">
	$.whowish_box_title_text("<%=word_for :whowish_box_title%>");
	
</script>
<span class="span-50 margin-bottom-1">
	<span class="span-50 light_green_bg dark_gray fontsize12 bold_font height20 margin-bottom-1">
		&nbsp;&nbsp; <%=word_for(:confirm)%>
	</span>
	<span class="span-50 margin-top-1 margin-bottom-1">
		<span class="red_button margin-left-1" id="delete_picture_button_<%=params[:figure_image_id]%>"  onclick="delete_figure_picture(<%=params[:figure_image_id]%>);">
			<%=word_for(:delete_button)%>
		</span>
		<span class="green_button margin-left-1" id="cancel_picture_button_<%=params[:figure_image_id]%>"  onclick="cancel_del();">
			<%=word_for(:cancel_button)%>
		</span>
	</span>
	<div style="height:0px;clear:left;">&nbsp;</div>
</span>

<script language="javascript">
	
	function delete_figure_picture(id)
	{
		$('#delete_picture_button_<%=params[:figure_image_id]%>').loading_button(true);
			var data = {
				authenticity_token: "<%=form_authenticity_token%>",
				"figure_image_id": id
			};
			
			$.ajax({
				type: "POST",
				url: '/figure/delete_picture',
				cache: false,
				headers:{"Connection":"close"},
				data: data,
				success: function(response){
					if (response.ok == true) {
						$('#thumbnail_<%=params[:figure_image_id]%>').css('visibility','hidden')
						open_thumbnail_view();
					}
					$(document).trigger('close.whowish_box');
				},
				error: function(req,status,e){
				    if (req.status == 0) return;
                    alert('Cannot connect to the server. Please try again.')
				}
			});
		
	}
	
	function cancel_del()
	{
		$(document).trigger('close.whowish_box');
	}

</script>

