<span class="span-100 clearfix">
    <span class="span-92 clearfix margin-left-4 margin-bottom-2">
         <span class="underBox">
            <span class="contentBox">
				<span class="span-92 clearfix">
				    <span class="span-92 clearfix">
						<span class="span-90 margin-top-1 margin-left-1  display_inline_block margin-bottom-1">
							<span class="span-88 margin-top-1 margin-left-1 eco_green font18 bold_font display_block">
								<%= word_for :forget_password%>
							</span>
							<span class="span-88 margin-top-1 margin-bottom-1 margin-left-1 eco_green font12 bold_font display_block">
								<%= word_for :desc%>
							</span>
							<span class="span-88 bold_font font16 eco_green margin-top-2 margin-left-1 clearfix">
								<span class="span-10">
									<%= word_for :email%>
								</span>
								<span class="span-70">
									<input name="" type="text" class="dark_gray span-29 input_type" id="member_email" />
								</span>
							</span>
							<span class="span-20 margin-top-1 margin-bottom-1 margin-left-11 display_inline_block">
								<a href="#" class="green_button" id="forget_password_form_button" onclick="submit_forget_password();return false;">
									<%= word_for :submit%>
								</a>
							</span>
							<div style="height:0px;clear:left;">&nbsp;</div>
						</span>
				    </span>
				</span>
			</span>
        </span>
    </span>
</span>

<script language="javascript">
	forget_password_form_validator = {
	    validate: function (input_obj) {
			if (input_obj.id in this.validatees)
				(this.validatees[input_obj.id])(input_obj);
			else 
				alert("forget_password_form_validator does not validate '" + input_obj.id+"'");
	    },
		validate_form: function() {
			var bool = true;
			
			for (var i in this.validatees)
			{
				bool = (this.validatees[i])(jQuery("#"+i)[0]) && bool;
			}
	
			return bool;
		},
		validatees : {
			"member_email" : function (input_obj) {
				return validate_input_obj(input_obj,get_email_errors);
			}
		}
	}

	function submit_forget_password()
	{
		if (!forget_password_form_validator.validate_form()) {
			return;
		}
		
		try {
			$('#forget_password_form_button').loading_button(true);
			
			$.ajax({
				type: "POST",
				url: '/member/forget_password',
				cache: false,
				data: {
					authenticity_token: "<%=form_authenticity_token%>",
					"email": $('#member_email').val()
					
				},
				success: function(data){
					try {
						if (data.ok == true) {
							alert('The email with instruction to recover your password has been sent to '+$('#member_email').val());
							$('#forget_password_form_button').loading_button(false);
						}
						else {
							$('#forget_password_form_button').loading_button(false);
							$('#member_email').ruby_box(true,data.error_message);
						}
					} 
					catch (e) {
						$('#forget_password_form_button').loading_button(false);
						$.error_log('forget_password', e);
						alert(e);
					}
					
				},
				error: function(req, status, e){
					$('#forget_password_form_button').loading_button(false);
					alert('Cannot connect to the server. Please try again later.');
				}
			});
		} catch (e)
		{
			$('#forget_password_form_button').loading_button(false);
			$.error_log('forget_password',e);
			alert(e);
		}
	}		
</script>	
