<span class="firstChild span-33 white_bg" id="discussion_popular_unit_<%=discussion.id%>">
	<span class="span-32 margin-top-5px margin-left-5px">
		<span class="span-32 font16 bold_font " style="white-space:nowrap;overflow:hidden;">
			<a href="/discussion/view/<%=discussion.id%>" target="_discussion_<%=discussion.id%>" class="dark_gray">
				<%=discussion.title%>
			</a>
		</span>
		<span class="span-32 small-meter margin-top-1" style="margin-top:10px;">
		<!--==== (width(550) - pinkMargin(2) = 548 =================================================-->
			<%
              love_width, hate_width = calculate_love_hate_width(discussion.loves,discussion.hates,318)
			  total_love_hate = discussion.loves+discussion.hates
			  percent_love = 0
			  percent_love = (((discussion.loves*100)/total_love_hate)) if total_love_hate > 0
			  percent_hate = 100 - percent_love
            %>
			<span class="pink-meter-small" style="width:<%=love_width%>px;">
			</span>
			<span class="gray-meter-small" style="width:<%=hate_width%>px;">
			</span>
		</span>
		<span class="span-32 font10 medium_dark_gray">
			<span class="float-left font10 medium_dark_gray">
				<%
					discussion_love = DiscussionLove.first(:conditions=>{:discussion_id=>discussion.id,:facebook_id=>$facebook.facebook_id})
					if discussion_love and discussion_love.love_type == DiscussionLove::TYPE_LOVE
				%>
						You and
				<%
					end
				%>
				<%= word_for :love,:number=>discussion.loves%>
			</span>
			<span class="float-right font10 medium_dark_gray ">
				<%
					if discussion_love and discussion_love.love_type == DiscussionLove::TYPE_HATE
				%>
						You and
				<%
					end
				%>
				<%= word_for :hate,:number=>discussion.hates%>
			</span>
		</span>
		<span class="span-32 font10 medium_dark_gray margin-bottom-1">
			<%
				if discussion_love and discussion_love.love_type == DiscussionLove::TYPE_LOVE

				else
			%>
					<a href="#" class="float-left" onclick="submit_discussion_love(this,'<%=DiscussionLove::TYPE_LOVE%>',<%=discussion.id%>,false,'pop_unit');return false;">
			            <span class="love_icon_small">
			            </span>
			            <span class="font11 huneysuckle_pink bold_font" style="margin-left:2px;line-height:20px;">
			                <%=word_for :love_button%>
			            </span>
			        </a>
			<%
				end


				if discussion_love and discussion_love.love_type == DiscussionLove::TYPE_HATE

				else
			%>
					<a href="#" class="float-right" onclick="submit_discussion_love(this,'<%=DiscussionLove::TYPE_HATE%>',<%=discussion.id%>,false,'pop_unit');return false;">
			            <span class="hate_icon_small">
			            </span>
			            <span class="font11 medium_dark_gray bold_font" style="margin-left:2px;line-height:20px;">
			                <%=word_for :hate_button%>
			            </span>
			        </a>
			<%
				end
			%>
		</span>											
	</span>
</span>