<script language="javascript">
	$.whowish_box_title_text("<%=word_for :whowish_box_title%>");
</script>
	
	<span class="span-50  margin-top-1">
				<span class="span-46  margin-left-1 fontsize14 bold_font white whowish_green_bg height20" style="padding-left: 8px;padding-right: 8px;">
					<%=word_for :what_is_trading,:pronoun=>get_pronoun(@responder)%>
				</span>
				<span class="swap_selected_box_give light_green_bg span-46 margin-left-1">
					<span class="span-46">
						<span class="span-45 margin-swap_unit">
							
							<span class="facebook_pic margin-swap_pic" onclick="$.whowish_box({title: 'View',url:'/item/view?item_id=<%=@responder_item.id%>'}); return false;" style="background-image:url(<%=@responder_item.get_thumbnail_item_image()%>);">
							</span>
							<span class="span-38 margin-left-1">
								<span class="span-38 ">
									<span class="span-38 fontsize12 bold_font" style="white-space:normal;overflow:hidden;">
										<%=@responder.get_badge%> <%=word_for :has%>
										<a href="#" class="medium_dark_green" onclick="$.whowish_box({title: 'View',url:'/item/view?item_id=<%=@responder_item.id%>'}); return false;">
											<%=wrap_word( @responder_item.title ,70)%>
										</a>
									</span>
									<span class="span-38 fontsize11 normal_font  medium_gray" style="white-space:normal;overflow:hidden;">
										<%=trim_description(@responder_item.id,@responder_item.description,70,210,3)%>
									</span>
								</span>
							</span>
						</span>
					</span>
				</span>
				<span class="span-50 fontsize14 bold_font white dark_blue_bg height20  margin-top-2">
					<span class=" margin-left-1">
						<%=word_for :please_select_an_offer%>
					</span>
				</span>
				<%
					give_list = @my_junk_list + @responder_wish_list

					if give_list.length == 0
				%>
					<%=render :partial=>"no_give"%>
				<%
					else
						matches = {}
	
						@responder_wish_list.each { |i|
							@my_junk_list.each { |j|
								
								if keyword_match(i.title,j.title)
									matches[i.id] = true
									break
								end
							}
						}
					
				%>
					<span class="span-50" style="height:252px;overflow:hidden;">
						<span class="span-50" style="height:270px; overflow:scroll;">
							<span class="span-24"  style="margin-left: -1px;border-right: 1px solid #CCCCCC;">
								<span class="span-24 height01 dark_blue_bg">
								</span>
								<span class="span-24 height20 light_blue_bg">
									<span class="span-21 margin-left-1 bold_font fontsize12 dark_gray">
										<%=word_for :stuff_you_can_offer%>
									</span>
								</span>
								<span class="span-24" style="overflow:hidden;">
									<%@my_junk_list.each do |i|%>
										<%=render :partial=>"home/item",:locals=>{:entity=>i,:mode=>MODE_GIVE,:before_item_id=>@responder_item.id}%>
									<%end%>
								</span>
							</span>
							<span class="span-24"  style="margin-left: -1px;border-left: 1px solid #CCCCCC;">
								<span class="span-25 height01 dark_blue_bg">
								</span>
								<span class="span-25 height20 light_blue_bg">
									<span class="span-21 margin-left-1 bold_font fontsize12 dark_gray">
										<%=word_for :stuff_he_wants_that_you_might_have, :pronoun=>get_pronoun(@responder)%>
									</span>
								</span>
								<span class="span-25" style="overflow:hidden;">
									<%
										@responder_wish_list.each do |i|
											bg_color = ""
											bg_color = "light_gray_bg" if matches[i.id]
									%>
										<span class="span-25 <%=bg_color%>">
											<%=render :partial=>"home/item",:locals=>{:entity=>i,:mode=>MODE_GIVE,:before_item_id=>@responder_item.id}%>
										</span>
									<%end%>
								</span>
							</span>
						</span>
					</span>
				<%
					end
				%>
				<span class="span-50">
					<span class="span-50 height24 orange_bg">
						<span class="span-48 margin-left-1 bold_font fontsize12 white">
							<%=word_for :buy_option%>
						</span>
					</span>
					<span class="span-48 fontsize11 normal_font medium_gray margin-bottom-1 margin-left-1" style="margin-top:4px;">
						<%=word_for :if_you_cant_find_anything%>
					</span>
					<a href="#" class="orange_button margin-bottom-1 margin-left-1" style="background-color:#EB8045;" onclick="$.whowish_box({title: 'Buy Request',url:'/swap/buy_form?responder_item_id=<%=@responder_item.id%>',background_color:'#efc228'}); return false;">
						<%=word_for :buy_this_item_button%>
					</a>
				</span>
			</span>
			