<span class="span-50 margin-top-1">
	<span class="span-50 white_bg">	
		<span class="span-48 margin-top-1 margin-left-1">
			<span class="span-48 clearfix">
				<span class="float-left height20 font22 bold_font white_bg squeks_blue padding_horizontal_4px">
					<%=word_for :you_have_bid_for, :name=>figure.title%>
				</span>
			</span>
			<span class="span-48 margin-top-1">
				<span class="span-5">
					<img src="<%=figure.get_thumbnail_image_url%>" alt=""  />
				</span>
				<span class="span-42 margin-left-5px">
					<span class="span-42  margin-top-5px clearfix">
						<span class="float-left height20 huneysuckle_pink_bg padding_horizontal_4px font11 normal_font white">
							<%=word_for :total_price%>
						</span>
						<span class="float-left height20 font18 bold_font white_bg padding_horizontal_4px">
							<span class="squeks_coin_value">
							</span>
							<span class="float-left margin-left-5px font18 huneysuckle_pink bold_font">
								<%=number_with_delimiter(figure.value)%>
							</span>
						</span>
					</span>
				</span>
			</span>
		</span>
		<span class="span-50 clearfix height-1 display_block">
		</span>
	</span>
	
	<span class="span-50 clearfix">
		<span class="span-50 white_bg">
			<span class="span-50 verticle_shadow">
			</span>
			<span class="span-48 margin-left-1 margin-top-1">
				<span class="span-48 font12 medium_dark_gray bold_font">
					<%=word_for :we_will_notify_you%>
				</span>
			</span>
			<span class="span-50 clearfix height-1 display_block">
			</span>
	</span>
	</span>
	<span class="span-50 clearfix height-1 display_block">
	</span>
</span>