<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html> 
	<head> 
		<meta content="text/html; charset=UTF-8" http-equiv="Content-Type" /> 
	</head> 
	<body> 
		<%=@title%>
		<br/><br/>
		Please click <a href="<%=@url%>">here</a> to respond to <%=@requestor.name%>'s request.
		<br/>
		If you accept the request, please use the message box (private message) to arrange the swap.
		<br/>
		If you believe your stuff or service is more valuable, you can ask for an additional payment in the message box.
		<br/><br/>
		<%if @request.message != "" and @request.message != nil%>
			<%=@requestor.name%> says:  <%=@request.message%>
		<br/><br/>
		Best regards,
		<br/>
		College Swap Team
		<br/>
	</body>
</html>





