<%if !$member.is_guest%>
<span class="settingToppic">
	<h2>
		<%=word_for :password%>
	</h2>
	<h3>
		<em>
			<%=word_for :password_tip%>
		</em>
	</h3>
</span>
<p>
	<input class="textbox_input span-46" placeholder="<%=word_for_attr :old_password%>" value="" id="old_password" type="password" >
	<input class="textbox_input span-46 margin-top-4px" placeholder="<%=word_for_attr :new_password%>" value="" id="new_password" type="password" >

	<span class="form_unit">
		<span class="span-48">
			<span class="gray_button" id="change_password_form_button" onclick="submit_change_password();return false;">
				<%=word_for(:submit_change_password)%>
			</span>
		</span>
		<span class="span-30">
			<span class="textbox_explane" id="change_password_error_panel">
				
			</span>
		</span>	
		
	</span>	
</p>
<%else%>
	<%=word_for(:please_login)%>
<%end%>


<script language="javascript">
	var change_password_validator = new validator("change_password_error_panel");
	change_password_validator.register_validation("old_password","old_password","old_password_error_panel",
										"<%=word_for('old_password_ok');%>",
										[{
											f: validator_helper.presence,
											m: "<%=global_word_for('change_password','old_password_presence')%>"
										},null,
										{
											f:validator_helper.min_length(4),
											m: "<%=global_word_for('change_password','old_password_min_length')%>"
										}]);
										
	change_password_validator.register_validation("new_password","new_password","new_password_error_panel",
										"<%=word_for('new_password_ok');%>",
										[{
											f: validator_helper.presence,
											m: "<%=global_word_for('change_password','new_password_presence')%>"
										},null,
										{
											f:validator_helper.min_length(4),
											m: "<%=global_word_for('change_password','new_password_min_length')%>"
										}]);
										

	function submit_change_password()
	{
		if (change_password_validator.validate_all() == false) {
			return;
		}
		
		try {
			$('#change_password_form_button').loading_button(true);
			
			$.ajax({
				type: "POST",
				url: '/member/change_password',
				cache: false,
				data: {
					authenticity_token: "<%=form_authenticity_token%>",
					"password": $('#old_password').val(),
					"new_password": $('#new_password').val()
					
					
				},
				success: function(data){
					try {
						if (data.ok == true) {
							alert('Change Password Completed');
							$('#old_password').val('');
							$('#new_password').val('');
							$('#change_password_form_button').loading_button(false);
						}
						else {
							$('#change_password_form_button').loading_button(false);
							change_password_validator.show_error(data.error_message);
						}
					} 
					catch (e) {
						$('#change_password_form_button').loading_button(false);
						$.error_log('change_password', e);
						alert(e);
					}
					
				},
				error: function(req, status, e){
					$('#change_password_form_button').loading_button(false);
					alert('Cannot connect to the server. Please try again later.');
				}
			});
		} catch (e)
		{
			$('#change_password_form_button').loading_button(false);
			$.error_log('change_password',e);
			alert(e);
		}
	}		
</script>	
	



