<span class="thumbnail-unit" style="height:160px;">
	<span class="span-14 small-meter">
		<a href="/search?tags=<%=tag_name%>" class="float-left font11 white_bg dark_gray">
			<%=tag_name%>
		</a>
	</span>
	<a href="<%=figure.get_url%>" class="picture margin-top-2" style="background-image:url(<%=figure.get_160x160_thumbnail_image_url%>);" title="<%=figure.title%>"></a>
</span>