<%
  	top_love = Figure.all(:conditions=>["status=:status AND loves >= hates",{:status=>Figure::STATUS_ACTIVE}],:order=>"loves DESC",:offset=>0,:limit=>3)
  	top_hate = Figure.all(:conditions=>["status=:status AND loves < hates",{:status=>Figure::STATUS_ACTIVE}],:order=>"hates DESC",:offset=>0,:limit=>3)
	top_value = Figure.all(:conditions=>{:status=>Figure::STATUS_ACTIVE},:order=>"value DESC",:offset=>0,:limit=>3)
  	top_richest = Member.all(:order=>"credits DESC",:limit=>3)
%>
<span class="span-52 margin-top-1">
	<span class="span-52 height20 huneysuckle_pink_bg white bold_font font11">
		<span class="margin-left-1 ">
			<%=word_for :top_squeks%>
		</span>
	</span>
	<span class="span-50">
		<span class="span-50 float-left margin-left-1 margin-top-1 bold_font font14 dark_gray">
			<a href="/top" class="font14 dark_gray">
				<%=word_for :top_love%>
			</a>
		</span>
		<%
			top_love.each do |figure|		
		%>
			<%=render :partial=>"home/thumbnail_unit",:locals=>{:figure=>figure}%>
		<%end%>
	</span>
	<span class="span-50">
		<span class="span-50 float-left margin-left-1 margin-top-1 bold_font font14 dark_gray">
			<a href="/top" class="font14 dark_gray">
				<%=word_for :top_hate%>
			</a>
		</span>
		<%
			top_hate.each do |figure|		
		%>
			<%=render :partial=>"home/thumbnail_unit",:locals=>{:figure=>figure}%>
		<%end%>
	</span>
	<span class="span-50">
		<span class="span-50 float-left margin-left-1 margin-top-1 bold_font font14 dark_gray">
			<a href="/top/worth" class="font14 dark_gray">
				<%=word_for :top_value%>
			</a>
		</span>
		<%
			top_value.each do |figure|		
		%>
			<%=render :partial=>"home/thumbnail_unit",:locals=>{:figure=>figure}%>
		<%end%>
	</span>
	<span class="span-50">
		<span class="span-50 float-left margin-left-1 margin-top-1 bold_font font14 dark_gray">
			<a href="/top/richest" class="font14 dark_gray">
				<%=word_for :top_richest%>
			</a>
		</span>
		<%
			top_richest.each do |member|		
		%>
			<%=render :partial=>"home/member_unit",:locals=>{:member=>member}%>
		<%end%>
	</span>
</span>