<div id="container" class="clearfix">
	<span class="global_width">
		<span class="span-98 margin-top-1">
			<span class="span-98 white_bg clearfix">
				<span class="span-98 margin-top-1 margin-bottom-1">
					<%=render :partial=>"/feed/feed"%>
					<span class="span-52 left_border">
						<%=render :partial=>"/home/instruction"%>
						<%=render :partial=>"/home/top_tags"%>
						<%=render :partial=>"/home/top_squeks"%>
						<%=render :partial=>"/home/top_discussion"%>
					</span>
				</span>
			</span>
		</span>
	</span>
</div>	