<%
	user = $facebook
	user = get_facebook_info(params[:user_id]) if params[:user_id]
	
	params[:limit] = 10 if !params[:limit]
	params[:limit] = params[:limit].to_i
	
	params[:offset] = 0 if !params[:offset]
	params[:offset] = params[:offset].to_i
	
	limit = params[:limit].to_i
	offset = params[:offset].to_i		
%>
<script language="javascript">
	function submit_response(sender,response,event_id)
	{
		
		var selected_time = []
		
		try {
			$(sender).loading_button(true);
			$.ajax({
				type: "POST",
				url: '/event/save_response',
				cache: false,
				data: {
					authenticity_token: "<%=form_authenticity_token%>",
					signed_request:"<%=params[:signed_request]%>",
					"event_id": event_id,
					"available_dates": selected_time.join(',')
				},
				success: function(data){
					try {
						if (data.ok == true) {
							$(sender).loading_button(false);
							$('#invited_event_status_'+event_id).html('Rejected')
						}
						else {
							for (var i in data.error_message) {
								try {
									$(sender).ruby_box(true,data.error_message[i]);
								} 
								catch (e) {
								
								}
							}
							
							$(sender).loading_button(false);
						}
					} 
					catch (e) {
						$.error_log('response_event', e);
						alert(e);
					}
					
				},
				error: function(req, status, e){
					$(sender).loading_button(false);
					alert('Cannot connect to the server. Please try again later.');
				}
			});
		} catch (e)
		{
			$(sender).loading_button(false);
			$.error_log('response_event',e);
			alert(e);
		}
	}		
</script>	

	<span class="span-74 margin-top-1 clearfix">
<!-- LEFT COLUMN -->
		<span class="span-15 right_border clearfix" style="background-color:#282828;">
        	<%=render :partial=>"profile/side_profile"%>
            <%=render :partial=>"profile/side_event_stat",:locals=>{:facebook_id=>user.facebook_id}%>
			<%=render :partial=>"profile/side_get_email"%>
            <%=render :partial=>"profile/side_friend"%>
        </span>
<!-- RIGHT COLUMN -->
		<span class="span-59 left_border clearfix">
        	<%=render :partial=>"filter_bar",:locals=>{:facebook_id=>user.facebook_id,:is_settled=>false}%>
			<%
				event_friend_ids = EventFriend.first(:select=>"GROUP_CONCAT(CONVERT(event_id,CHAR) SEPARATOR ',') AS ids",:conditions=>{:facebook_id=>user.facebook_id})
				
				# get only some certain status
				sql = "status = '"+Event::STATUS_ACTIVE+"' AND (facebook_id='"+user.facebook_id+"' "
				sql += " OR id in ("+event_friend_ids.ids+")" if event_friend_ids.ids
				sql += ")";

				count = Event.count(:conditions=>[sql])

				if count == 0
			%>
			
				<span class="span-56  margin-left-1 fontsize18 bold_font margin-top-2 light_gray align_center">
					" There are no unsettled events "
				</span>
			<%
				else

					unsettled_events = Event.all(:conditions=>[sql],:offset=>offset,:limit=>limit, :order=>"created_date DESC")
					unsettled_events.each do |unsettled_event|
			%>
						<%=render :partial=>"profile/day_unsettled" ,:locals=>{:event=>unsettled_event,:facebook_id=>user.facebook_id}%>
			<%		
					end
			%>
				<span class="span-58 margin-left-1">
						<span class="total_page blue_2meet4_bg">
							<%=offset+1%> - <%=[offset+limit,count].min%> of <%=count%> day<%='s' if count > 1%>
						</span>
						<span class="page_number">
							<ul>
								<%
									number_of_pages = (count.to_f/limit.to_f).ceil
								
									(1..number_of_pages).each do |i|
								%>
									<li><a href="/profile/?sort=<%=params[:sort]%>&filter=<%=params[:filter]%>&offset=<%=limit*(i-1)%>&limit=<%=limit%>" <%='class="active"' if limit*(i-1) == offset%>><%=i%></a></li>
								<%
									end
								%>
							</ul>
						</span>
					</span>
			<%
				end
			%>
 
        </span>
    </span>
